<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @computer.tag %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @computer.ticket %>
</p>

<p>
  <strong>Model:</strong>
  <%= @computer.model_id %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
